<div class="m-4">
  <div class="flex mb-2" *ngIf="username !== 'panelist_bot'">
    <button type="button" class="btn btn-sm btn-danger mr-2" id="stop" (click)="quitRoom()">Quit</button>
    <button type="button" class="btn btn-sm btn-info mr-2" id="sharescreen" (click)="shareScreen()"
      *ngIf="!shared">Share screen</button>
    <button type="button" class="btn btn-sm btn-warning mr-2" id="stopsharescreen" (click)="stopShare()"
      *ngIf="shared">Stop share
      screen</button>

    <button type="button" class="btn btn-sm btn-info mr-2" id="liveStream" (click)="liveStream()"
      *ngIf="!live">Record</button>

    <button type="button" class="btn btn-sm btn-warning mr-2" id="stopLive" (click)="stopStream()"
      *ngIf="live">Stop</button>
  </div>
  <div class="w-100" *ngIf="username !== 'panelist_bot'">
    <div id="volume-meter-0" style="height:5px;width:50%;background-color:green;"></div>
  </div>
  <div *ngIf="isJoin && username !== 'panelist_bot'" class="flex ">
    <div>{{username}}</div>
    <div>
      <button id="local-toggle-mute-audio" class="btn btn-sm btn-warning" (click)="localToggleMuteAudio()">Mute</button>
      <button id="local-toggle-mute-video" class="btn btn-sm btn-danger m-2" (click)="localToggleMuteVideo()">Pause
        webcam</button>
    </div>
  </div>
  <div></div>
  <div class="col-sm" id="videolocal" [hidden]="username === 'panelist_bot'"></div>
  <div class="col-sm">
    <video id="web-cam" autoplay muted="muted" width="200" height="200"></video>
  </div>
  <div class="row">
    <div id="videoRemoted" class="row"></div>
  </div>
</div>
